fastapi==0.111.0
uvicorn==0.28.0
python-dotenv==1.0.1
supabase==2.4.6
langchain==0.2.0
langchain-google-genai==1.0.5
langchain-groq==0.1.4
httpx==0.27.0
pandas==2.2.2
#scipy==1.13.0
prefect==2.19.0
pydantic==2.7.0
google-generativeai==0.5.3
